<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Test.model.DBmodel.LotteryIssuesMapper">
  <resultMap id="BaseResultMap" type="com.Test.model.DBmodel.LotteryIssues">
    <id column="lottery_issues_id" jdbcType="INTEGER" property="lotteryIssuesId" />
    <id column="end_bet_time" jdbcType="INTEGER" property="endBetTime" />
    <result column="lottery_id" jdbcType="INTEGER" property="lotteryId" />
    <result column="issue" jdbcType="VARCHAR" property="issue" />
    <result column="prize_res" jdbcType="VARCHAR" property="prizeRes" />
    <result column="is_bet" jdbcType="BIT" property="isBet" />
    <result column="pre_prize" jdbcType="BIT" property="prePrize" />
    <result column="status_check_prize" jdbcType="BIT" property="statusCheckPrize" />
    <result column="belong_date" jdbcType="DATE" property="belongDate" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    lottery_issues_id, end_bet_time, lottery_id, issue, prize_res, is_bet, pre_prize, 
    status_check_prize, belong_date, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.Test.model.DBmodel.LotteryIssuesKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lottery_issues
    where lottery_issues_id = #{lotteryIssuesId,jdbcType=INTEGER}
      and end_bet_time = #{endBetTime,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.Test.model.DBmodel.LotteryIssuesKey">
    delete from lottery_issues
    where lottery_issues_id = #{lotteryIssuesId,jdbcType=INTEGER}
      and end_bet_time = #{endBetTime,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Test.model.DBmodel.LotteryIssues">
    insert into lottery_issues (lottery_issues_id, end_bet_time, lottery_id, 
      issue, prize_res, is_bet, 
      pre_prize, status_check_prize, belong_date, 
      add_time)
    values (#{lotteryIssuesId,jdbcType=INTEGER}, #{endBetTime,jdbcType=INTEGER}, #{lotteryId,jdbcType=INTEGER}, 
      #{issue,jdbcType=VARCHAR}, #{prizeRes,jdbcType=VARCHAR}, #{isBet,jdbcType=BIT}, 
      #{prePrize,jdbcType=BIT}, #{statusCheckPrize,jdbcType=BIT}, #{belongDate,jdbcType=DATE}, 
      #{addTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.Test.model.DBmodel.LotteryIssues">
    insert into lottery_issues
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lotteryIssuesId != null">
        lottery_issues_id,
      </if>
      <if test="endBetTime != null">
        end_bet_time,
      </if>
      <if test="lotteryId != null">
        lottery_id,
      </if>
      <if test="issue != null">
        issue,
      </if>
      <if test="prizeRes != null">
        prize_res,
      </if>
      <if test="isBet != null">
        is_bet,
      </if>
      <if test="prePrize != null">
        pre_prize,
      </if>
      <if test="statusCheckPrize != null">
        status_check_prize,
      </if>
      <if test="belongDate != null">
        belong_date,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lotteryIssuesId != null">
        #{lotteryIssuesId,jdbcType=INTEGER},
      </if>
      <if test="endBetTime != null">
        #{endBetTime,jdbcType=INTEGER},
      </if>
      <if test="lotteryId != null">
        #{lotteryId,jdbcType=INTEGER},
      </if>
      <if test="issue != null">
        #{issue,jdbcType=VARCHAR},
      </if>
      <if test="prizeRes != null">
        #{prizeRes,jdbcType=VARCHAR},
      </if>
      <if test="isBet != null">
        #{isBet,jdbcType=BIT},
      </if>
      <if test="prePrize != null">
        #{prePrize,jdbcType=BIT},
      </if>
      <if test="statusCheckPrize != null">
        #{statusCheckPrize,jdbcType=BIT},
      </if>
      <if test="belongDate != null">
        #{belongDate,jdbcType=DATE},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Test.model.DBmodel.LotteryIssues">
    update lottery_issues
    <set>
      <if test="lotteryId != null">
        lottery_id = #{lotteryId,jdbcType=INTEGER},
      </if>
      <if test="issue != null">
        issue = #{issue,jdbcType=VARCHAR},
      </if>
      <if test="prizeRes != null">
        prize_res = #{prizeRes,jdbcType=VARCHAR},
      </if>
      <if test="isBet != null">
        is_bet = #{isBet,jdbcType=BIT},
      </if>
      <if test="prePrize != null">
        pre_prize = #{prePrize,jdbcType=BIT},
      </if>
      <if test="statusCheckPrize != null">
        status_check_prize = #{statusCheckPrize,jdbcType=BIT},
      </if>
      <if test="belongDate != null">
        belong_date = #{belongDate,jdbcType=DATE},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
    </set>
    where lottery_issues_id = #{lotteryIssuesId,jdbcType=INTEGER}
      and end_bet_time = #{endBetTime,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Test.model.DBmodel.LotteryIssues">
    update lottery_issues
    set lottery_id = #{lotteryId,jdbcType=INTEGER},
      issue = #{issue,jdbcType=VARCHAR},
      prize_res = #{prizeRes,jdbcType=VARCHAR},
      is_bet = #{isBet,jdbcType=BIT},
      pre_prize = #{prePrize,jdbcType=BIT},
      status_check_prize = #{statusCheckPrize,jdbcType=BIT},
      belong_date = #{belongDate,jdbcType=DATE},
      add_time = #{addTime,jdbcType=INTEGER}
    where lottery_issues_id = #{lotteryIssuesId,jdbcType=INTEGER}
      and end_bet_time = #{endBetTime,jdbcType=INTEGER}
  </update>
</mapper>