<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Test.model.DBmodel.RptAdminIndexMapper">
  <resultMap id="BaseResultMap" type="com.Test.model.DBmodel.RptAdminIndex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="statistics_day" jdbcType="DATE" property="statisticsDay" />
    <result column="register_num" jdbcType="INTEGER" property="registerNum" />
    <result column="first_recharge_num" jdbcType="INTEGER" property="firstRechargeNum" />
    <result column="first_recharge_amount" jdbcType="DECIMAL" property="firstRechargeAmount" />
    <result column="bet_num" jdbcType="INTEGER" property="betNum" />
    <result column="new_bet_number_num" jdbcType="INTEGER" property="newBetNumberNum" />
    <result column="agent_commission" jdbcType="DECIMAL" property="agentCommission" />
    <result column="top_agent_commission" jdbcType="DECIMAL" property="topAgentCommission" />
    <result column="mg_agent_commission" jdbcType="DECIMAL" property="mgAgentCommission" />
    <result column="mg_top_agent_commission" jdbcType="DECIMAL" property="mgTopAgentCommission" />
    <result column="lottery_total_money" jdbcType="DECIMAL" property="lotteryTotalMoney" />
    <result column="lottery_bet_amount" jdbcType="DECIMAL" property="lotteryBetAmount" />
    <result column="payout_amount" jdbcType="DECIMAL" property="payoutAmount" />
    <result column="return_amount" jdbcType="DECIMAL" property="returnAmount" />
    <result column="mg_bet_amount" jdbcType="DECIMAL" property="mgBetAmount" />
    <result column="mg_payout_amount" jdbcType="DECIMAL" property="mgPayoutAmount" />
    <result column="mg_return_amount" jdbcType="DECIMAL" property="mgReturnAmount" />
    <result column="company_deposits_num" jdbcType="INTEGER" property="companyDepositsNum" />
    <result column="online_deposits_num" jdbcType="INTEGER" property="onlineDepositsNum" />
    <result column="manual_deposits_num" jdbcType="INTEGER" property="manualDepositsNum" />
    <result column="manual_out_num" jdbcType="INTEGER" property="manualOutNum" />
    <result column="company_deposits_user" jdbcType="INTEGER" property="companyDepositsUser" />
    <result column="online_deposits_user" jdbcType="INTEGER" property="onlineDepositsUser" />
    <result column="manual_deposits_user" jdbcType="INTEGER" property="manualDepositsUser" />
    <result column="manual_out_user" jdbcType="INTEGER" property="manualOutUser" />
    <result column="company_deposits_amount" jdbcType="DECIMAL" property="companyDepositsAmount" />
    <result column="online_deposits_amount" jdbcType="DECIMAL" property="onlineDepositsAmount" />
    <result column="manual_deposits_amount" jdbcType="DECIMAL" property="manualDepositsAmount" />
    <result column="member_withdrawal_count" jdbcType="INTEGER" property="memberWithdrawalCount" />
    <result column="backstage_payment_count" jdbcType="INTEGER" property="backstagePaymentCount" />
    <result column="member_withdrawal_user" jdbcType="INTEGER" property="memberWithdrawalUser" />
    <result column="backstage_payment_user" jdbcType="INTEGER" property="backstagePaymentUser" />
    <result column="member_withdrawal_money" jdbcType="DECIMAL" property="memberWithdrawalMoney" />
    <result column="backstage_payment_money" jdbcType="DECIMAL" property="backstagePaymentMoney" />
    <result column="manual_out_money" jdbcType="DECIMAL" property="manualOutMoney" />
    <result column="vaild_user" jdbcType="INTEGER" property="vaildUser" />
    <result column="backwater_user" jdbcType="INTEGER" property="backwaterUser" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.Test.model.DBmodel.RptAdminIndexWithBLOBs">
    <result column="bet_users" jdbcType="LONGVARCHAR" property="betUsers" />
    <result column="company_deposits_users" jdbcType="LONGVARCHAR" property="companyDepositsUsers" />
    <result column="online_deposits_users" jdbcType="LONGVARCHAR" property="onlineDepositsUsers" />
    <result column="manual_deposits_users" jdbcType="LONGVARCHAR" property="manualDepositsUsers" />
    <result column="manual_out_users" jdbcType="LONGVARCHAR" property="manualOutUsers" />
    <result column="member_withdrawal_users" jdbcType="LONGVARCHAR" property="memberWithdrawalUsers" />
    <result column="backstage_payment_users" jdbcType="LONGVARCHAR" property="backstagePaymentUsers" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, statistics_day, register_num, first_recharge_num, first_recharge_amount, bet_num, 
    new_bet_number_num, agent_commission, top_agent_commission, mg_agent_commission, 
    mg_top_agent_commission, lottery_total_money, lottery_bet_amount, payout_amount, 
    return_amount, mg_bet_amount, mg_payout_amount, mg_return_amount, company_deposits_num, 
    online_deposits_num, manual_deposits_num, manual_out_num, company_deposits_user, 
    online_deposits_user, manual_deposits_user, manual_out_user, company_deposits_amount, 
    online_deposits_amount, manual_deposits_amount, member_withdrawal_count, backstage_payment_count, 
    member_withdrawal_user, backstage_payment_user, member_withdrawal_money, backstage_payment_money, 
    manual_out_money, vaild_user, backwater_user
  </sql>
  <sql id="Blob_Column_List">
    bet_users, company_deposits_users, online_deposits_users, manual_deposits_users, 
    manual_out_users, member_withdrawal_users, backstage_payment_users
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.Test.model.DBmodel.RptAdminIndexExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rpt_admin_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.Test.model.DBmodel.RptAdminIndexExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rpt_admin_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rpt_admin_index
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rpt_admin_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.Test.model.DBmodel.RptAdminIndexExample">
    delete from rpt_admin_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.Test.model.DBmodel.RptAdminIndexWithBLOBs">
    insert into rpt_admin_index (id, statistics_day, register_num, 
      first_recharge_num, first_recharge_amount, 
      bet_num, new_bet_number_num, agent_commission, 
      top_agent_commission, mg_agent_commission, 
      mg_top_agent_commission, lottery_total_money, 
      lottery_bet_amount, payout_amount, return_amount, 
      mg_bet_amount, mg_payout_amount, mg_return_amount, 
      company_deposits_num, online_deposits_num, 
      manual_deposits_num, manual_out_num, company_deposits_user, 
      online_deposits_user, manual_deposits_user, 
      manual_out_user, company_deposits_amount, online_deposits_amount, 
      manual_deposits_amount, member_withdrawal_count, 
      backstage_payment_count, member_withdrawal_user, 
      backstage_payment_user, member_withdrawal_money, 
      backstage_payment_money, manual_out_money, 
      vaild_user, backwater_user, bet_users, 
      company_deposits_users, online_deposits_users, 
      manual_deposits_users, manual_out_users, 
      member_withdrawal_users, backstage_payment_users
      )
    values (#{id,jdbcType=INTEGER}, #{statisticsDay,jdbcType=DATE}, #{registerNum,jdbcType=INTEGER}, 
      #{firstRechargeNum,jdbcType=INTEGER}, #{firstRechargeAmount,jdbcType=DECIMAL}, 
      #{betNum,jdbcType=INTEGER}, #{newBetNumberNum,jdbcType=INTEGER}, #{agentCommission,jdbcType=DECIMAL}, 
      #{topAgentCommission,jdbcType=DECIMAL}, #{mgAgentCommission,jdbcType=DECIMAL}, 
      #{mgTopAgentCommission,jdbcType=DECIMAL}, #{lotteryTotalMoney,jdbcType=DECIMAL}, 
      #{lotteryBetAmount,jdbcType=DECIMAL}, #{payoutAmount,jdbcType=DECIMAL}, #{returnAmount,jdbcType=DECIMAL}, 
      #{mgBetAmount,jdbcType=DECIMAL}, #{mgPayoutAmount,jdbcType=DECIMAL}, #{mgReturnAmount,jdbcType=DECIMAL}, 
      #{companyDepositsNum,jdbcType=INTEGER}, #{onlineDepositsNum,jdbcType=INTEGER}, 
      #{manualDepositsNum,jdbcType=INTEGER}, #{manualOutNum,jdbcType=INTEGER}, #{companyDepositsUser,jdbcType=INTEGER}, 
      #{onlineDepositsUser,jdbcType=INTEGER}, #{manualDepositsUser,jdbcType=INTEGER}, 
      #{manualOutUser,jdbcType=INTEGER}, #{companyDepositsAmount,jdbcType=DECIMAL}, #{onlineDepositsAmount,jdbcType=DECIMAL}, 
      #{manualDepositsAmount,jdbcType=DECIMAL}, #{memberWithdrawalCount,jdbcType=INTEGER}, 
      #{backstagePaymentCount,jdbcType=INTEGER}, #{memberWithdrawalUser,jdbcType=INTEGER}, 
      #{backstagePaymentUser,jdbcType=INTEGER}, #{memberWithdrawalMoney,jdbcType=DECIMAL}, 
      #{backstagePaymentMoney,jdbcType=DECIMAL}, #{manualOutMoney,jdbcType=DECIMAL}, 
      #{vaildUser,jdbcType=INTEGER}, #{backwaterUser,jdbcType=INTEGER}, #{betUsers,jdbcType=LONGVARCHAR}, 
      #{companyDepositsUsers,jdbcType=LONGVARCHAR}, #{onlineDepositsUsers,jdbcType=LONGVARCHAR}, 
      #{manualDepositsUsers,jdbcType=LONGVARCHAR}, #{manualOutUsers,jdbcType=LONGVARCHAR}, 
      #{memberWithdrawalUsers,jdbcType=LONGVARCHAR}, #{backstagePaymentUsers,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Test.model.DBmodel.RptAdminIndexWithBLOBs">
    insert into rpt_admin_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statisticsDay != null">
        statistics_day,
      </if>
      <if test="registerNum != null">
        register_num,
      </if>
      <if test="firstRechargeNum != null">
        first_recharge_num,
      </if>
      <if test="firstRechargeAmount != null">
        first_recharge_amount,
      </if>
      <if test="betNum != null">
        bet_num,
      </if>
      <if test="newBetNumberNum != null">
        new_bet_number_num,
      </if>
      <if test="agentCommission != null">
        agent_commission,
      </if>
      <if test="topAgentCommission != null">
        top_agent_commission,
      </if>
      <if test="mgAgentCommission != null">
        mg_agent_commission,
      </if>
      <if test="mgTopAgentCommission != null">
        mg_top_agent_commission,
      </if>
      <if test="lotteryTotalMoney != null">
        lottery_total_money,
      </if>
      <if test="lotteryBetAmount != null">
        lottery_bet_amount,
      </if>
      <if test="payoutAmount != null">
        payout_amount,
      </if>
      <if test="returnAmount != null">
        return_amount,
      </if>
      <if test="mgBetAmount != null">
        mg_bet_amount,
      </if>
      <if test="mgPayoutAmount != null">
        mg_payout_amount,
      </if>
      <if test="mgReturnAmount != null">
        mg_return_amount,
      </if>
      <if test="companyDepositsNum != null">
        company_deposits_num,
      </if>
      <if test="onlineDepositsNum != null">
        online_deposits_num,
      </if>
      <if test="manualDepositsNum != null">
        manual_deposits_num,
      </if>
      <if test="manualOutNum != null">
        manual_out_num,
      </if>
      <if test="companyDepositsUser != null">
        company_deposits_user,
      </if>
      <if test="onlineDepositsUser != null">
        online_deposits_user,
      </if>
      <if test="manualDepositsUser != null">
        manual_deposits_user,
      </if>
      <if test="manualOutUser != null">
        manual_out_user,
      </if>
      <if test="companyDepositsAmount != null">
        company_deposits_amount,
      </if>
      <if test="onlineDepositsAmount != null">
        online_deposits_amount,
      </if>
      <if test="manualDepositsAmount != null">
        manual_deposits_amount,
      </if>
      <if test="memberWithdrawalCount != null">
        member_withdrawal_count,
      </if>
      <if test="backstagePaymentCount != null">
        backstage_payment_count,
      </if>
      <if test="memberWithdrawalUser != null">
        member_withdrawal_user,
      </if>
      <if test="backstagePaymentUser != null">
        backstage_payment_user,
      </if>
      <if test="memberWithdrawalMoney != null">
        member_withdrawal_money,
      </if>
      <if test="backstagePaymentMoney != null">
        backstage_payment_money,
      </if>
      <if test="manualOutMoney != null">
        manual_out_money,
      </if>
      <if test="vaildUser != null">
        vaild_user,
      </if>
      <if test="backwaterUser != null">
        backwater_user,
      </if>
      <if test="betUsers != null">
        bet_users,
      </if>
      <if test="companyDepositsUsers != null">
        company_deposits_users,
      </if>
      <if test="onlineDepositsUsers != null">
        online_deposits_users,
      </if>
      <if test="manualDepositsUsers != null">
        manual_deposits_users,
      </if>
      <if test="manualOutUsers != null">
        manual_out_users,
      </if>
      <if test="memberWithdrawalUsers != null">
        member_withdrawal_users,
      </if>
      <if test="backstagePaymentUsers != null">
        backstage_payment_users,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statisticsDay != null">
        #{statisticsDay,jdbcType=DATE},
      </if>
      <if test="registerNum != null">
        #{registerNum,jdbcType=INTEGER},
      </if>
      <if test="firstRechargeNum != null">
        #{firstRechargeNum,jdbcType=INTEGER},
      </if>
      <if test="firstRechargeAmount != null">
        #{firstRechargeAmount,jdbcType=DECIMAL},
      </if>
      <if test="betNum != null">
        #{betNum,jdbcType=INTEGER},
      </if>
      <if test="newBetNumberNum != null">
        #{newBetNumberNum,jdbcType=INTEGER},
      </if>
      <if test="agentCommission != null">
        #{agentCommission,jdbcType=DECIMAL},
      </if>
      <if test="topAgentCommission != null">
        #{topAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="mgAgentCommission != null">
        #{mgAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="mgTopAgentCommission != null">
        #{mgTopAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="lotteryTotalMoney != null">
        #{lotteryTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="lotteryBetAmount != null">
        #{lotteryBetAmount,jdbcType=DECIMAL},
      </if>
      <if test="payoutAmount != null">
        #{payoutAmount,jdbcType=DECIMAL},
      </if>
      <if test="returnAmount != null">
        #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="mgBetAmount != null">
        #{mgBetAmount,jdbcType=DECIMAL},
      </if>
      <if test="mgPayoutAmount != null">
        #{mgPayoutAmount,jdbcType=DECIMAL},
      </if>
      <if test="mgReturnAmount != null">
        #{mgReturnAmount,jdbcType=DECIMAL},
      </if>
      <if test="companyDepositsNum != null">
        #{companyDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="onlineDepositsNum != null">
        #{onlineDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="manualDepositsNum != null">
        #{manualDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="manualOutNum != null">
        #{manualOutNum,jdbcType=INTEGER},
      </if>
      <if test="companyDepositsUser != null">
        #{companyDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="onlineDepositsUser != null">
        #{onlineDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="manualDepositsUser != null">
        #{manualDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="manualOutUser != null">
        #{manualOutUser,jdbcType=INTEGER},
      </if>
      <if test="companyDepositsAmount != null">
        #{companyDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="onlineDepositsAmount != null">
        #{onlineDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="manualDepositsAmount != null">
        #{manualDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="memberWithdrawalCount != null">
        #{memberWithdrawalCount,jdbcType=INTEGER},
      </if>
      <if test="backstagePaymentCount != null">
        #{backstagePaymentCount,jdbcType=INTEGER},
      </if>
      <if test="memberWithdrawalUser != null">
        #{memberWithdrawalUser,jdbcType=INTEGER},
      </if>
      <if test="backstagePaymentUser != null">
        #{backstagePaymentUser,jdbcType=INTEGER},
      </if>
      <if test="memberWithdrawalMoney != null">
        #{memberWithdrawalMoney,jdbcType=DECIMAL},
      </if>
      <if test="backstagePaymentMoney != null">
        #{backstagePaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="manualOutMoney != null">
        #{manualOutMoney,jdbcType=DECIMAL},
      </if>
      <if test="vaildUser != null">
        #{vaildUser,jdbcType=INTEGER},
      </if>
      <if test="backwaterUser != null">
        #{backwaterUser,jdbcType=INTEGER},
      </if>
      <if test="betUsers != null">
        #{betUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="companyDepositsUsers != null">
        #{companyDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="onlineDepositsUsers != null">
        #{onlineDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="manualDepositsUsers != null">
        #{manualDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="manualOutUsers != null">
        #{manualOutUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberWithdrawalUsers != null">
        #{memberWithdrawalUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="backstagePaymentUsers != null">
        #{backstagePaymentUsers,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.Test.model.DBmodel.RptAdminIndexExample" resultType="java.lang.Long">
    select count(*) from rpt_admin_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rpt_admin_index
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsDay != null">
        statistics_day = #{record.statisticsDay,jdbcType=DATE},
      </if>
      <if test="record.registerNum != null">
        register_num = #{record.registerNum,jdbcType=INTEGER},
      </if>
      <if test="record.firstRechargeNum != null">
        first_recharge_num = #{record.firstRechargeNum,jdbcType=INTEGER},
      </if>
      <if test="record.firstRechargeAmount != null">
        first_recharge_amount = #{record.firstRechargeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.betNum != null">
        bet_num = #{record.betNum,jdbcType=INTEGER},
      </if>
      <if test="record.newBetNumberNum != null">
        new_bet_number_num = #{record.newBetNumberNum,jdbcType=INTEGER},
      </if>
      <if test="record.agentCommission != null">
        agent_commission = #{record.agentCommission,jdbcType=DECIMAL},
      </if>
      <if test="record.topAgentCommission != null">
        top_agent_commission = #{record.topAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="record.mgAgentCommission != null">
        mg_agent_commission = #{record.mgAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="record.mgTopAgentCommission != null">
        mg_top_agent_commission = #{record.mgTopAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="record.lotteryTotalMoney != null">
        lottery_total_money = #{record.lotteryTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.lotteryBetAmount != null">
        lottery_bet_amount = #{record.lotteryBetAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.payoutAmount != null">
        payout_amount = #{record.payoutAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.returnAmount != null">
        return_amount = #{record.returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.mgBetAmount != null">
        mg_bet_amount = #{record.mgBetAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.mgPayoutAmount != null">
        mg_payout_amount = #{record.mgPayoutAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.mgReturnAmount != null">
        mg_return_amount = #{record.mgReturnAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.companyDepositsNum != null">
        company_deposits_num = #{record.companyDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="record.onlineDepositsNum != null">
        online_deposits_num = #{record.onlineDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="record.manualDepositsNum != null">
        manual_deposits_num = #{record.manualDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="record.manualOutNum != null">
        manual_out_num = #{record.manualOutNum,jdbcType=INTEGER},
      </if>
      <if test="record.companyDepositsUser != null">
        company_deposits_user = #{record.companyDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="record.onlineDepositsUser != null">
        online_deposits_user = #{record.onlineDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="record.manualDepositsUser != null">
        manual_deposits_user = #{record.manualDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="record.manualOutUser != null">
        manual_out_user = #{record.manualOutUser,jdbcType=INTEGER},
      </if>
      <if test="record.companyDepositsAmount != null">
        company_deposits_amount = #{record.companyDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.onlineDepositsAmount != null">
        online_deposits_amount = #{record.onlineDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.manualDepositsAmount != null">
        manual_deposits_amount = #{record.manualDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.memberWithdrawalCount != null">
        member_withdrawal_count = #{record.memberWithdrawalCount,jdbcType=INTEGER},
      </if>
      <if test="record.backstagePaymentCount != null">
        backstage_payment_count = #{record.backstagePaymentCount,jdbcType=INTEGER},
      </if>
      <if test="record.memberWithdrawalUser != null">
        member_withdrawal_user = #{record.memberWithdrawalUser,jdbcType=INTEGER},
      </if>
      <if test="record.backstagePaymentUser != null">
        backstage_payment_user = #{record.backstagePaymentUser,jdbcType=INTEGER},
      </if>
      <if test="record.memberWithdrawalMoney != null">
        member_withdrawal_money = #{record.memberWithdrawalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.backstagePaymentMoney != null">
        backstage_payment_money = #{record.backstagePaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.manualOutMoney != null">
        manual_out_money = #{record.manualOutMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.vaildUser != null">
        vaild_user = #{record.vaildUser,jdbcType=INTEGER},
      </if>
      <if test="record.backwaterUser != null">
        backwater_user = #{record.backwaterUser,jdbcType=INTEGER},
      </if>
      <if test="record.betUsers != null">
        bet_users = #{record.betUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.companyDepositsUsers != null">
        company_deposits_users = #{record.companyDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.onlineDepositsUsers != null">
        online_deposits_users = #{record.onlineDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.manualDepositsUsers != null">
        manual_deposits_users = #{record.manualDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.manualOutUsers != null">
        manual_out_users = #{record.manualOutUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.memberWithdrawalUsers != null">
        member_withdrawal_users = #{record.memberWithdrawalUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.backstagePaymentUsers != null">
        backstage_payment_users = #{record.backstagePaymentUsers,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update rpt_admin_index
    set id = #{record.id,jdbcType=INTEGER},
      statistics_day = #{record.statisticsDay,jdbcType=DATE},
      register_num = #{record.registerNum,jdbcType=INTEGER},
      first_recharge_num = #{record.firstRechargeNum,jdbcType=INTEGER},
      first_recharge_amount = #{record.firstRechargeAmount,jdbcType=DECIMAL},
      bet_num = #{record.betNum,jdbcType=INTEGER},
      new_bet_number_num = #{record.newBetNumberNum,jdbcType=INTEGER},
      agent_commission = #{record.agentCommission,jdbcType=DECIMAL},
      top_agent_commission = #{record.topAgentCommission,jdbcType=DECIMAL},
      mg_agent_commission = #{record.mgAgentCommission,jdbcType=DECIMAL},
      mg_top_agent_commission = #{record.mgTopAgentCommission,jdbcType=DECIMAL},
      lottery_total_money = #{record.lotteryTotalMoney,jdbcType=DECIMAL},
      lottery_bet_amount = #{record.lotteryBetAmount,jdbcType=DECIMAL},
      payout_amount = #{record.payoutAmount,jdbcType=DECIMAL},
      return_amount = #{record.returnAmount,jdbcType=DECIMAL},
      mg_bet_amount = #{record.mgBetAmount,jdbcType=DECIMAL},
      mg_payout_amount = #{record.mgPayoutAmount,jdbcType=DECIMAL},
      mg_return_amount = #{record.mgReturnAmount,jdbcType=DECIMAL},
      company_deposits_num = #{record.companyDepositsNum,jdbcType=INTEGER},
      online_deposits_num = #{record.onlineDepositsNum,jdbcType=INTEGER},
      manual_deposits_num = #{record.manualDepositsNum,jdbcType=INTEGER},
      manual_out_num = #{record.manualOutNum,jdbcType=INTEGER},
      company_deposits_user = #{record.companyDepositsUser,jdbcType=INTEGER},
      online_deposits_user = #{record.onlineDepositsUser,jdbcType=INTEGER},
      manual_deposits_user = #{record.manualDepositsUser,jdbcType=INTEGER},
      manual_out_user = #{record.manualOutUser,jdbcType=INTEGER},
      company_deposits_amount = #{record.companyDepositsAmount,jdbcType=DECIMAL},
      online_deposits_amount = #{record.onlineDepositsAmount,jdbcType=DECIMAL},
      manual_deposits_amount = #{record.manualDepositsAmount,jdbcType=DECIMAL},
      member_withdrawal_count = #{record.memberWithdrawalCount,jdbcType=INTEGER},
      backstage_payment_count = #{record.backstagePaymentCount,jdbcType=INTEGER},
      member_withdrawal_user = #{record.memberWithdrawalUser,jdbcType=INTEGER},
      backstage_payment_user = #{record.backstagePaymentUser,jdbcType=INTEGER},
      member_withdrawal_money = #{record.memberWithdrawalMoney,jdbcType=DECIMAL},
      backstage_payment_money = #{record.backstagePaymentMoney,jdbcType=DECIMAL},
      manual_out_money = #{record.manualOutMoney,jdbcType=DECIMAL},
      vaild_user = #{record.vaildUser,jdbcType=INTEGER},
      backwater_user = #{record.backwaterUser,jdbcType=INTEGER},
      bet_users = #{record.betUsers,jdbcType=LONGVARCHAR},
      company_deposits_users = #{record.companyDepositsUsers,jdbcType=LONGVARCHAR},
      online_deposits_users = #{record.onlineDepositsUsers,jdbcType=LONGVARCHAR},
      manual_deposits_users = #{record.manualDepositsUsers,jdbcType=LONGVARCHAR},
      manual_out_users = #{record.manualOutUsers,jdbcType=LONGVARCHAR},
      member_withdrawal_users = #{record.memberWithdrawalUsers,jdbcType=LONGVARCHAR},
      backstage_payment_users = #{record.backstagePaymentUsers,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rpt_admin_index
    set id = #{record.id,jdbcType=INTEGER},
      statistics_day = #{record.statisticsDay,jdbcType=DATE},
      register_num = #{record.registerNum,jdbcType=INTEGER},
      first_recharge_num = #{record.firstRechargeNum,jdbcType=INTEGER},
      first_recharge_amount = #{record.firstRechargeAmount,jdbcType=DECIMAL},
      bet_num = #{record.betNum,jdbcType=INTEGER},
      new_bet_number_num = #{record.newBetNumberNum,jdbcType=INTEGER},
      agent_commission = #{record.agentCommission,jdbcType=DECIMAL},
      top_agent_commission = #{record.topAgentCommission,jdbcType=DECIMAL},
      mg_agent_commission = #{record.mgAgentCommission,jdbcType=DECIMAL},
      mg_top_agent_commission = #{record.mgTopAgentCommission,jdbcType=DECIMAL},
      lottery_total_money = #{record.lotteryTotalMoney,jdbcType=DECIMAL},
      lottery_bet_amount = #{record.lotteryBetAmount,jdbcType=DECIMAL},
      payout_amount = #{record.payoutAmount,jdbcType=DECIMAL},
      return_amount = #{record.returnAmount,jdbcType=DECIMAL},
      mg_bet_amount = #{record.mgBetAmount,jdbcType=DECIMAL},
      mg_payout_amount = #{record.mgPayoutAmount,jdbcType=DECIMAL},
      mg_return_amount = #{record.mgReturnAmount,jdbcType=DECIMAL},
      company_deposits_num = #{record.companyDepositsNum,jdbcType=INTEGER},
      online_deposits_num = #{record.onlineDepositsNum,jdbcType=INTEGER},
      manual_deposits_num = #{record.manualDepositsNum,jdbcType=INTEGER},
      manual_out_num = #{record.manualOutNum,jdbcType=INTEGER},
      company_deposits_user = #{record.companyDepositsUser,jdbcType=INTEGER},
      online_deposits_user = #{record.onlineDepositsUser,jdbcType=INTEGER},
      manual_deposits_user = #{record.manualDepositsUser,jdbcType=INTEGER},
      manual_out_user = #{record.manualOutUser,jdbcType=INTEGER},
      company_deposits_amount = #{record.companyDepositsAmount,jdbcType=DECIMAL},
      online_deposits_amount = #{record.onlineDepositsAmount,jdbcType=DECIMAL},
      manual_deposits_amount = #{record.manualDepositsAmount,jdbcType=DECIMAL},
      member_withdrawal_count = #{record.memberWithdrawalCount,jdbcType=INTEGER},
      backstage_payment_count = #{record.backstagePaymentCount,jdbcType=INTEGER},
      member_withdrawal_user = #{record.memberWithdrawalUser,jdbcType=INTEGER},
      backstage_payment_user = #{record.backstagePaymentUser,jdbcType=INTEGER},
      member_withdrawal_money = #{record.memberWithdrawalMoney,jdbcType=DECIMAL},
      backstage_payment_money = #{record.backstagePaymentMoney,jdbcType=DECIMAL},
      manual_out_money = #{record.manualOutMoney,jdbcType=DECIMAL},
      vaild_user = #{record.vaildUser,jdbcType=INTEGER},
      backwater_user = #{record.backwaterUser,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.Test.model.DBmodel.RptAdminIndexWithBLOBs">
    update rpt_admin_index
    <set>
      <if test="statisticsDay != null">
        statistics_day = #{statisticsDay,jdbcType=DATE},
      </if>
      <if test="registerNum != null">
        register_num = #{registerNum,jdbcType=INTEGER},
      </if>
      <if test="firstRechargeNum != null">
        first_recharge_num = #{firstRechargeNum,jdbcType=INTEGER},
      </if>
      <if test="firstRechargeAmount != null">
        first_recharge_amount = #{firstRechargeAmount,jdbcType=DECIMAL},
      </if>
      <if test="betNum != null">
        bet_num = #{betNum,jdbcType=INTEGER},
      </if>
      <if test="newBetNumberNum != null">
        new_bet_number_num = #{newBetNumberNum,jdbcType=INTEGER},
      </if>
      <if test="agentCommission != null">
        agent_commission = #{agentCommission,jdbcType=DECIMAL},
      </if>
      <if test="topAgentCommission != null">
        top_agent_commission = #{topAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="mgAgentCommission != null">
        mg_agent_commission = #{mgAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="mgTopAgentCommission != null">
        mg_top_agent_commission = #{mgTopAgentCommission,jdbcType=DECIMAL},
      </if>
      <if test="lotteryTotalMoney != null">
        lottery_total_money = #{lotteryTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="lotteryBetAmount != null">
        lottery_bet_amount = #{lotteryBetAmount,jdbcType=DECIMAL},
      </if>
      <if test="payoutAmount != null">
        payout_amount = #{payoutAmount,jdbcType=DECIMAL},
      </if>
      <if test="returnAmount != null">
        return_amount = #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="mgBetAmount != null">
        mg_bet_amount = #{mgBetAmount,jdbcType=DECIMAL},
      </if>
      <if test="mgPayoutAmount != null">
        mg_payout_amount = #{mgPayoutAmount,jdbcType=DECIMAL},
      </if>
      <if test="mgReturnAmount != null">
        mg_return_amount = #{mgReturnAmount,jdbcType=DECIMAL},
      </if>
      <if test="companyDepositsNum != null">
        company_deposits_num = #{companyDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="onlineDepositsNum != null">
        online_deposits_num = #{onlineDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="manualDepositsNum != null">
        manual_deposits_num = #{manualDepositsNum,jdbcType=INTEGER},
      </if>
      <if test="manualOutNum != null">
        manual_out_num = #{manualOutNum,jdbcType=INTEGER},
      </if>
      <if test="companyDepositsUser != null">
        company_deposits_user = #{companyDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="onlineDepositsUser != null">
        online_deposits_user = #{onlineDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="manualDepositsUser != null">
        manual_deposits_user = #{manualDepositsUser,jdbcType=INTEGER},
      </if>
      <if test="manualOutUser != null">
        manual_out_user = #{manualOutUser,jdbcType=INTEGER},
      </if>
      <if test="companyDepositsAmount != null">
        company_deposits_amount = #{companyDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="onlineDepositsAmount != null">
        online_deposits_amount = #{onlineDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="manualDepositsAmount != null">
        manual_deposits_amount = #{manualDepositsAmount,jdbcType=DECIMAL},
      </if>
      <if test="memberWithdrawalCount != null">
        member_withdrawal_count = #{memberWithdrawalCount,jdbcType=INTEGER},
      </if>
      <if test="backstagePaymentCount != null">
        backstage_payment_count = #{backstagePaymentCount,jdbcType=INTEGER},
      </if>
      <if test="memberWithdrawalUser != null">
        member_withdrawal_user = #{memberWithdrawalUser,jdbcType=INTEGER},
      </if>
      <if test="backstagePaymentUser != null">
        backstage_payment_user = #{backstagePaymentUser,jdbcType=INTEGER},
      </if>
      <if test="memberWithdrawalMoney != null">
        member_withdrawal_money = #{memberWithdrawalMoney,jdbcType=DECIMAL},
      </if>
      <if test="backstagePaymentMoney != null">
        backstage_payment_money = #{backstagePaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="manualOutMoney != null">
        manual_out_money = #{manualOutMoney,jdbcType=DECIMAL},
      </if>
      <if test="vaildUser != null">
        vaild_user = #{vaildUser,jdbcType=INTEGER},
      </if>
      <if test="backwaterUser != null">
        backwater_user = #{backwaterUser,jdbcType=INTEGER},
      </if>
      <if test="betUsers != null">
        bet_users = #{betUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="companyDepositsUsers != null">
        company_deposits_users = #{companyDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="onlineDepositsUsers != null">
        online_deposits_users = #{onlineDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="manualDepositsUsers != null">
        manual_deposits_users = #{manualDepositsUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="manualOutUsers != null">
        manual_out_users = #{manualOutUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="memberWithdrawalUsers != null">
        member_withdrawal_users = #{memberWithdrawalUsers,jdbcType=LONGVARCHAR},
      </if>
      <if test="backstagePaymentUsers != null">
        backstage_payment_users = #{backstagePaymentUsers,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.Test.model.DBmodel.RptAdminIndexWithBLOBs">
    update rpt_admin_index
    set statistics_day = #{statisticsDay,jdbcType=DATE},
      register_num = #{registerNum,jdbcType=INTEGER},
      first_recharge_num = #{firstRechargeNum,jdbcType=INTEGER},
      first_recharge_amount = #{firstRechargeAmount,jdbcType=DECIMAL},
      bet_num = #{betNum,jdbcType=INTEGER},
      new_bet_number_num = #{newBetNumberNum,jdbcType=INTEGER},
      agent_commission = #{agentCommission,jdbcType=DECIMAL},
      top_agent_commission = #{topAgentCommission,jdbcType=DECIMAL},
      mg_agent_commission = #{mgAgentCommission,jdbcType=DECIMAL},
      mg_top_agent_commission = #{mgTopAgentCommission,jdbcType=DECIMAL},
      lottery_total_money = #{lotteryTotalMoney,jdbcType=DECIMAL},
      lottery_bet_amount = #{lotteryBetAmount,jdbcType=DECIMAL},
      payout_amount = #{payoutAmount,jdbcType=DECIMAL},
      return_amount = #{returnAmount,jdbcType=DECIMAL},
      mg_bet_amount = #{mgBetAmount,jdbcType=DECIMAL},
      mg_payout_amount = #{mgPayoutAmount,jdbcType=DECIMAL},
      mg_return_amount = #{mgReturnAmount,jdbcType=DECIMAL},
      company_deposits_num = #{companyDepositsNum,jdbcType=INTEGER},
      online_deposits_num = #{onlineDepositsNum,jdbcType=INTEGER},
      manual_deposits_num = #{manualDepositsNum,jdbcType=INTEGER},
      manual_out_num = #{manualOutNum,jdbcType=INTEGER},
      company_deposits_user = #{companyDepositsUser,jdbcType=INTEGER},
      online_deposits_user = #{onlineDepositsUser,jdbcType=INTEGER},
      manual_deposits_user = #{manualDepositsUser,jdbcType=INTEGER},
      manual_out_user = #{manualOutUser,jdbcType=INTEGER},
      company_deposits_amount = #{companyDepositsAmount,jdbcType=DECIMAL},
      online_deposits_amount = #{onlineDepositsAmount,jdbcType=DECIMAL},
      manual_deposits_amount = #{manualDepositsAmount,jdbcType=DECIMAL},
      member_withdrawal_count = #{memberWithdrawalCount,jdbcType=INTEGER},
      backstage_payment_count = #{backstagePaymentCount,jdbcType=INTEGER},
      member_withdrawal_user = #{memberWithdrawalUser,jdbcType=INTEGER},
      backstage_payment_user = #{backstagePaymentUser,jdbcType=INTEGER},
      member_withdrawal_money = #{memberWithdrawalMoney,jdbcType=DECIMAL},
      backstage_payment_money = #{backstagePaymentMoney,jdbcType=DECIMAL},
      manual_out_money = #{manualOutMoney,jdbcType=DECIMAL},
      vaild_user = #{vaildUser,jdbcType=INTEGER},
      backwater_user = #{backwaterUser,jdbcType=INTEGER},
      bet_users = #{betUsers,jdbcType=LONGVARCHAR},
      company_deposits_users = #{companyDepositsUsers,jdbcType=LONGVARCHAR},
      online_deposits_users = #{onlineDepositsUsers,jdbcType=LONGVARCHAR},
      manual_deposits_users = #{manualDepositsUsers,jdbcType=LONGVARCHAR},
      manual_out_users = #{manualOutUsers,jdbcType=LONGVARCHAR},
      member_withdrawal_users = #{memberWithdrawalUsers,jdbcType=LONGVARCHAR},
      backstage_payment_users = #{backstagePaymentUsers,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.Test.model.DBmodel.RptAdminIndex">
    update rpt_admin_index
    set statistics_day = #{statisticsDay,jdbcType=DATE},
      register_num = #{registerNum,jdbcType=INTEGER},
      first_recharge_num = #{firstRechargeNum,jdbcType=INTEGER},
      first_recharge_amount = #{firstRechargeAmount,jdbcType=DECIMAL},
      bet_num = #{betNum,jdbcType=INTEGER},
      new_bet_number_num = #{newBetNumberNum,jdbcType=INTEGER},
      agent_commission = #{agentCommission,jdbcType=DECIMAL},
      top_agent_commission = #{topAgentCommission,jdbcType=DECIMAL},
      mg_agent_commission = #{mgAgentCommission,jdbcType=DECIMAL},
      mg_top_agent_commission = #{mgTopAgentCommission,jdbcType=DECIMAL},
      lottery_total_money = #{lotteryTotalMoney,jdbcType=DECIMAL},
      lottery_bet_amount = #{lotteryBetAmount,jdbcType=DECIMAL},
      payout_amount = #{payoutAmount,jdbcType=DECIMAL},
      return_amount = #{returnAmount,jdbcType=DECIMAL},
      mg_bet_amount = #{mgBetAmount,jdbcType=DECIMAL},
      mg_payout_amount = #{mgPayoutAmount,jdbcType=DECIMAL},
      mg_return_amount = #{mgReturnAmount,jdbcType=DECIMAL},
      company_deposits_num = #{companyDepositsNum,jdbcType=INTEGER},
      online_deposits_num = #{onlineDepositsNum,jdbcType=INTEGER},
      manual_deposits_num = #{manualDepositsNum,jdbcType=INTEGER},
      manual_out_num = #{manualOutNum,jdbcType=INTEGER},
      company_deposits_user = #{companyDepositsUser,jdbcType=INTEGER},
      online_deposits_user = #{onlineDepositsUser,jdbcType=INTEGER},
      manual_deposits_user = #{manualDepositsUser,jdbcType=INTEGER},
      manual_out_user = #{manualOutUser,jdbcType=INTEGER},
      company_deposits_amount = #{companyDepositsAmount,jdbcType=DECIMAL},
      online_deposits_amount = #{onlineDepositsAmount,jdbcType=DECIMAL},
      manual_deposits_amount = #{manualDepositsAmount,jdbcType=DECIMAL},
      member_withdrawal_count = #{memberWithdrawalCount,jdbcType=INTEGER},
      backstage_payment_count = #{backstagePaymentCount,jdbcType=INTEGER},
      member_withdrawal_user = #{memberWithdrawalUser,jdbcType=INTEGER},
      backstage_payment_user = #{backstagePaymentUser,jdbcType=INTEGER},
      member_withdrawal_money = #{memberWithdrawalMoney,jdbcType=DECIMAL},
      backstage_payment_money = #{backstagePaymentMoney,jdbcType=DECIMAL},
      manual_out_money = #{manualOutMoney,jdbcType=DECIMAL},
      vaild_user = #{vaildUser,jdbcType=INTEGER},
      backwater_user = #{backwaterUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>